.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.recipes__subtitle {
  margin: 0 0 80px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 683px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

.recipes__iframe {
  width: "560";
  height: "315";
}
