.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 60px 80px;
}

.recipes__title {
  margin: 0 0 24px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.recipes__subtitle {
  margin: 0 0 80px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif";
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}
